<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>HomePage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-signin-client_id" content="184610063786-sfu3shikh73535os31c19jit50aaljq0.apps.googleusercontent.com">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.1/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.1/angular-sanitize.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="script1.js"></script>
    <style>
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333333;
        }

        li {
            float: left;
        }

        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 16px;
            text-decoration: none;
        }

        li a:hover {
            background-color: #111111;
        }
    </style>
</head>
<body
ng-app="search" ng-controller="searchEng">
<div style="margin:20px">
    <h1><strong>Search your favourite video</strong></h1>
</div>
</ul>

<!-- Adding Navigation Bar -->
<nav class="navbar navbar-inverse " >
    <div class="container-fluid">
        <div class="nav navbar-nav navbar-left">
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="trending">Trending</a></li>
            <li><a href="#history">History</a></li>
            <li><a href="music">Music</a></li>
            <li><a href="#sports">Sports</a></li>
            <li><a href="#gaming">Gaming</a></li>
            <li><a href="#movies">Movies</a></li>
            <li><a href="#Tv shows">Tv Shows</a></li>
            <li><a href="#news">News</a></li>
            <li><a href="#live">Live</a></li>
            <li><a href="#spotlight">Spotlight</a></li>
            </a>

        </ul>
        </div>
        <div class="nav navbar-nav navbar-right" >
            <input type='text' ng-model='search' placeholder="Search Topic" style="margin:10px; background-color:#ffffff; " />
            <button id="btn" ng-click="getNews()" > Search </button>
        </div>
    </div>
</nav>

<!--search results div-->
<div ng-show="currentVideos" style="margin: 35px";>

    <div ng-repeat="y in currentVideos">
        <strong>{{y.snippet.title}}</strong>
        <br/>       

        <iframe type="text/html"
                width="640"
                height="385"
                src="http://www.youtube.com/embed/{{y.id.videoId}}"
                frameborder="0">
        </iframe>
<br/>          <br/>

    </div>
</div>
</div>


</body>
</html>